body, html {
    margin: 0; /* 移除全局默认外边距 */
    padding: 0;
    line-height: 1.6;
}

/*全局选中背景样式*/
.sub_nav_button::selection,
.menu-button span::selection,
.input_search_1::selection,
.input_button_1::selection,
.text_side_area_right a::selection,
.text_side_area_right p::selection,
.navbar a img::selection,
.navbar a::selection,
.title_main_big_1::selection,
.text_main_area_left p::selection,
.text_main_area_left h2::selection,
.text_main_area_left h3 b::selection,
.text_main_area_left img::selection,
.text_main_area_left ul li::selection,
.text_main_area_left ul li b::selection,
.text_side_area_right::selection{
    background-color: #000000;
    color: #ffffff;
}

/*标题*/
#title_main_big{
    width: 100%;
    height: 90px;
    border: 1px solid #e7e7e7;
    margin-top: 80px;
    background-color: #f8f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_main_big_1{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*内容*/
.text_main_area_1{
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text_main_area_left{
    display: flex;
    width: 85%;
    max-width: 770px;
    color: #77787b;
    flex-wrap: wrap;
}
.vertical_sapara_line{
    display: flex;
    width: 1px;
    height: 100em;
    margin-left: 27px;
    background-color: #e7e7e7;
    flex-wrap: wrap;
}
@media (max-width: 1000px) {
    .vertical_sapara_line{
        display: none;
    }
}
.hr_sapara_line hr{
    border: none;
    height: 1px;
    background-color: #e7e7e7;
}
.um_img{
    width: 100%;
}



/*内容右侧小栏目*/
.text_side_area_right{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 250px;
}
.search_area_1{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.input_search_1{
    height: 42px;
    width: 130px;
    border: 1px solid #e7e7e7;
    padding-left: 10px;
    background-color: #e7e7e7;
    box-shadow:inset 1px 1px 2px #b9b9b9;
}
.input_button_1{
    height: 45px;
    width: 100px;
    background-color: #03c4eb;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    font-size: 12px;
}
.input_button_1:hover{
    background-color: #81e2f5;
    cursor: pointer;
}
.text_side_area_right p,
.text_side_area_mobile p{
    margin-top: 30px;
}
.text_side_area_right a,
.text_side_area_mobile a{
    color: #77787b;
    text-decoration: none;
}
.text_side_area_right a:hover,
.text_side_area_mobile a:hover{
    color: #03c4eb;
    text-decoration:underline #03c4eb 1px solid;
}
.text_side_area_right hr{
    width: 250px;
    background-color: #e7e7e7;
    transform: scaleY(0.5);
}
.text_side_area_mobile hr{
    width: 100%;
    background-color: #e7e7e7;
    transform: scaleY(0.5); /* 高度缩小一半 */
}

/* 默认大屏幕显示 */
#sidebar-large {
    display: flex;
}
#sidebar-small {
    display: none;
}

/* 小屏幕样式 */
@media (max-width: 1067px) {
    #sidebar-large {
        display: none; /* 隐藏大屏幕侧边栏 */
    }
    #sidebar-small {
        display: flex; /* 显示小屏幕替代组件 */
        flex-direction: column;
        width: 85%; /* 宽度随屏幕变化 */
        margin-top: 20px;
    }
}
/* 小屏幕替代组件样式 */
.text_side_area_mobile .search_area_1 {
    justify-content: space-between;
}

.text_side_area_mobile .input_search_1 {
    width: calc(100% - 110px); /* 搜索框宽度动态计算，按钮占100px */
}

.text_side_area_mobile .input_button_1 {
    width: 100px; /* 按钮固定宽度 */
}

/*网页底部内容*/
.bottom_area{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #000000;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (max-width: 550px) {
    .bottom_area{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}
.bottom_area_1,
.bottom_area_2,
.bottom_area_3{
    max-width: 300px;
}
.bottom_area_1,
.bottom_area_2,
.bottom_area_3{
    color: white;
}
.bottom_area_1 ul li a::selection,
.bottom_area_1 p::selection,
.bottom_area_2 p::selection,
.bottom_area_3 p::selection,
.bottom_area_2 ul li a::selection,
.bottom_area_2 ul li::selection,
.bottom_area_3 ul li a img::selection,
.copyright_area::selection{
    background-color: black;
    color: white;
}
.bottom_area_1 p,
.bottom_area_2 p,
.bottom_area_3 p{
    letter-spacing: 2px;
    justify-content: left;
}
.bottom_area_1 ul,
.bottom_area_2 ul,
.bottom_area_3 ul{
    list-style-type: none;
    padding: 0 0;
}
.bottom_area_1 ul li a:hover,
.bottom_area_2 ul li a:hover{
    color: #03c4eb;
    text-decoration:underline #03c4eb 1px solid;
}
.bottom_area_1 ul li{
    margin: 10px 0;
}
.bottom_area_1 ul li a{
    color: #77787b;
    text-decoration: none;
    font-size: 10px;
}
.bottom_area_2 ul li{
    color: #a5a5a8;
}
.bottom_area_2 ul li a{
    color: #77787b;
    text-decoration: none;
}
.copyright_area{
    color: #a5a5a8;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #222222;
    justify-content: center;
    align-items: center;
}










/* 点击图片的弹窗样式 */
.modal {
    display: none;  /* 初始状态下隐藏弹窗 */
    position: fixed; /* 使弹窗固定 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);  /* 半透明黑色背景 */
    z-index: 101;  /* 使弹窗显示在最前面 */
}
.modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


