/*导航栏*/
.navbar {
    position: fixed; /* 使导航栏固定 */
    top: 0; /* 固定在顶部 */
    width: 100%; /* 全宽 */
    background-color: #ffffff; /* 背景色 */
    padding: 0;
    height: 80px;
    display: flex;
    z-index: 99; /* 确保导航栏在其他内容之上 */
    box-shadow: 1px 1px 15px #dcddde;
    justify-content: space-around;
    align-items: center;
}
.navbar_left img{
    width: 100%;
    height: 100%;
    max-width: 280px;
}
.navbar_left img:hover, .um_img:hover {
    cursor: pointer;
}
.navbar_right{
    display: flex;
    column-gap: 30px;
    align-items: center;
    letter-spacing: 1px;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}
.navbar a:hover {
    color: #03c4eb; /* 鼠标悬停时文本变成蓝色 */
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 #dcddde;
    width: auto;
}
.dropdown-content a {
    display: block;
    color: #77787b;
    padding: 12px 7px;
    border-bottom: #e7e7e7 1px solid;
    text-decoration: none;
}

/*手机端窄屏导航栏*/
.menu-button {
    display: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.cellphone_navbar{
    z-index: 100;
    width: 100%;
    height: 0;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    visibility: collapse;
    position: absolute;
    opacity: 0;
}
.cellphone_navbar.show{
    display: flex;
    visibility: visible;
    transition: opacity 0.5s ease;
    opacity: 1;
}
.cellphone_navbar ul{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1000px;
}

/*快捷导航栏的第一栏下拉菜单*/
#cellphone_navbar_big_nav_title_1{
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cellphone_navbar ul li{;
    padding-left: 20px ;
    list-style-type: none;
    background-color: white ;
    border-top: 1px solid #e7e7e7 ;
}
.cellphone_navbar ul li a{
    padding: 10px 0;
    color: #77787b;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub_nav_button{
    border: none;
    height: 50px;
    width: 50px;
    background-color: white;
    border-left: 1px solid #e7e7e7;
}
#sub_nav_button:hover{
    background-color: #03c4eb;
}
.cellphone_navbar_sub_nav{
    display: none;
}
.cellphone_navbar_sub_nav.show {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .navbar_right{
        display: none;
    }
    .navbar_right.show{
        display: none;
    }
    .menu-button{
        display: flex;
    }
}